# Python
__pycache__/
*.pyc
*.pyo
*.pyd
venv/
.env

# Node
node_modules/
build/
dist/
.env.local

# Docker
*.pid
docker-compose.override.yml

# OS
.DS_Store
Thumbs.db
commit_script.sh

# Logs
*.log

# React
*.env.development.local
*.env.test.local
*.env.production.local 