{% extends "layout.html" %}

{% block title %}
    Buy
{%endblock %}


{% block main %}
        <form action="/buy" method = "post">
            <div class="form-group">
                <input type = "text" autocomplete = "off" autofocus placeholder = "Stock Symbol" name = "symbol" class = "form-control">
                <input type = "text" autocomplete = "off"  placeholder = "Stock Quantity" name = "shares" class = "form-control">
                <button class="btn btn-primary" type="submit">Buy</button>
            </div>
        </form>



{% endblock %}